*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --dark-red: #DB3323;
  --dark-blue: #253969;
  --light-gray: #D9D9D9;
  --white:#FFF;
  font-family: 'Nunito', sans-serif;

}

/* Header Styles */

/* Nav Bar desktop */
.nav-bar{
background-color: var(--dark-blue);
display: flex;
width: 100%;
height: 72px;
padding: 12px 32px;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
}

.navLinkItem{
margin: 5px;
}

.navLinks--desktop{
display: flex;
flex-direction: row ;
align-items: center;
gap: 20px;
}

.navLinks--desktop li {
list-style: none;
}

.navLinks--desktop li a{
color: var(--white);
text-decoration: none;
}

/* Nav Bar Mobile */

.nav-bar-closed--mobile{
background-color: var(--dark-blue);
display: flex;
height: 72px;
padding: 12px 32px;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
}

.left-nav-bar-closed--mobile{
display: flex;
align-items: center;
gap: 24px;
}

.nav-bar-open--mobile{
height: 580px;
width: 100%;
background-color: var(--dark-red);
padding: 10px 32px;
}

.nav-bar-open--mobile ul{
list-style-type: disc;
color: var(--white);
margin-left: 32px;
}

.nav-bar-open--mobile h2{
margin-top: 40px;
color: var(--white);
display: flex;
justify-content: center;
align-items: center;
font-size: 50px;
}

.nav-bar-open--mobile a{
text-decoration: none;
color: var(--white);
font-size: 30px;
}

#close--icon{
  background-color: var(--dark-blue);
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  align-self: flex-end;
  font-size: 30px;
}


button i{
margin: 5px;
width: 30px;
height: 30px;
font-size: 30px;
color: var(--white);
}

.menu--icon {
background-color: var(--dark-blue);
margin: 5px;
border: none;
}

/* Hero Section */

.hero--section{
  background-color: var(--dark-red);
  height: 380px;
  width: 100%;
  position:relative;
  display: flex;
  flex-direction: row;
}

.hero-content-section{
display: flex;
flex-direction: row;
justify-content: space-between;
}

/* .andy-photo{
width: 10rem;
height: 20rem;
z-index: 1;
right: 40%;

} */

.hero-section--title{
  width: 100%;
  height: 150px;
  margin: 0px 0px 0px 32px;
  padding-top: 32px ;
  font-family: 'Lato', sans-serif;
  color: var(--white);
  font-size: 120px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero--section-subtitle{
  width: 100%;
  height: 40px;
  margin: 16px 0px 8px 32px;
  color: var(--white);
  font-family: 'Lato', sans-serif;
  font-size: 5vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero--section-text{
  width: 600px;
  height: 60px;
  margin: 40px 0px 30px 32px;
  color: var(--white);
  font-family: 'Lato', sans-serif;
  font-size: 3vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* 
.hero--section-button{
  width: 156px;
  height: 32px;
  margin: 10px 0px 16px 32px;
  border-radius: 8px;
  border-style: none;
  background:var(--dark-red);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.8);

} */

.hero--section-button a {
  color: var(--white);
  font-family:'Nunito', sans-serif;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  
}


#About-me--section{
  background-color:var(--light-gray);
  height: 100%;
  width: 100%
}

.Section--text{
  color: var(--white);
  font-family:'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  margin: 16px 8% 0px 0px;
}

.Section--text--AboutMe{
color: var(--dark-blue);
font-family:'Nunito', sans-serif;
font-size: 18px;
font-weight: 500;
line-height: normal;
padding-bottom: 30px;
margin: 16px 8% 0px 8%;
}

#About-me--section h2 {
    color: var(--dark-blue);
    display: flex;
    justify-content: center;
  }

#section--title{
  width: 100%;
  padding: 8px 32px 6px 32px;
  font-size: 30px;
  font-family: 'Nunito', sans-serif;
  color: var(--white);
  display: flex;
  justify-content: center;
}

#experience--section{
  width: 100%;
  background-color: var(--dark-blue);
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button{
display: flex;
justify-content: center;
text-align: center;
align-items: center;
height: 50px;
width: 80%;
border-radius: 10px;
background-color: var(--dark-red);
text-decoration: none;
color: var(--white);
font-weight: 700;

}

#experience--section a{
margin-top: 20px;
}


#section--subtitle{
  width: 100%;
  padding: 32px 32px 0px 32px;
  font-size: 24px;
  font-family: 'Nunito', sans-serif;
  color: var(--white);
}

#experience-section--job-role{
  width: 100%;
  padding: 8px 32px 0px 32px;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  color: var(--white); 
  display: flex;
  flex-direction: column;
}

.wave-blue-container {  
height: 40vh;
  background-color: #253969;
  position: relative;
}

.wave-blue-container::before {   
  content: "";
  width: 100%;
  height: 168px;
  position: absolute;
  bottom: -0.3%;
  left: 0;
  background-size: auto;
  background-repeat: repeat no-repeat;
  background-position: 64vw bottom;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  80' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 59L50 55C100 51 200 44 300 30C400 15 500 -6 600 1C700 8 800 44 900 59C1000 73 1100 66 1150 62L1200 59V80H1150C1100 80 1000 80 900 80C800 80 700 80 600 80C500 80 400 80 300 80C200 80 100 80 50 80H0V59Z' fill='%23db3323'/></svg>");
}

.wave-red-container {  
  height: 40vh;
  background-color: #db3323;
  position: relative;
}

.wave-red-container::before {   
  content: "";
  width: 100%;
  height: 168px;
  position: absolute;
  bottom: -0.3%;
  left: 0;
  background-size: auto;
  background-repeat: repeat no-repeat;
  background-position: 64vw bottom;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  80' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 59L50 55C100 51 200 44 300 30C400 15 500 -6 600 1C700 8 800 44 900 59C1000 73 1100 66 1150 62L1200 59V80H1150C1100 80 1000 80 900 80C800 80 700 80 600 80C500 80 400 80 300 80C200 80 100 80 50 80H0V59Z' fill='%23253969'/></svg>");
}

#skillset--section{
  width: 100%;
  height: 440px;
  background-color: var(--dark-red);
}


#skillset--section--icons-container{
  display: grid;
  grid-template-columns: 90px 90px 90px 90px 90px 90px;
  grid-template-rows: 120px 120px 120px 120px ;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.skill-section-icons-text{
  font-family: 'Nunito', sans-serif;
  text-align: center;
  color: var(--white);
}

#projects--section{
  background-color: var(--dark-blue);
  color: var(--white);
  height: 760px;
  display: flex;
  flex-direction: column;
  padding: 10px 32px 0px 32px;
}

.projects--section-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-gray);
  border-radius: 46px ;
  width: 328px;
  height: 580px;
  align-self: center;
  margin-top: 20px;
  color: black;
}

.projects--section-card img{
  border-radius: 40px 40px 0px 0px;
  
}

.projects--section-container{
  display: flex;
  flex-direction: row;
  gap: 3%;
  scroll-snap-align: center;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  margin: 0px 5% 0px 5%;
}


h4{
  display: flex;
  font-size: 28px;
  justify-content: center;
}

.text--card{
  display: flex;
  justify-content: center;
  height: 120px;
  padding: 0px 20px 0px 20px;
  margin-top: 5px;
  font-size: 18px;
}

.tags--card{
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin-bottom: 10px;
}

#Python--ID{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 38px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
  margin: 10px 0px 5px 20px;
  background-color: #4B8BBE;
  color: var(--white);
  font-size: 18px;
}

#Pandas--ID{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 38px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
  margin: 10px 0px 5px 5px;
  background-color: #130754;
  color: var(--white);
  font-size: 18px;
}

#POO--ID{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 38px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
  margin: 10px 0px 5px 5px;
  background-color: #646464;
  color: var(--white);
  font-size: 18px;
}

#HTML--ID{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 38px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
  margin: 10px 0px 5px 20px;
  background-color: #F06529;
  color: var(--white);
  font-size: 18px;
}

#CSS--ID{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 38px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
  margin: 10px 0px 5px 5px;
  background-color: #2965F1;
  color: var(--white);
  font-size: 18px;
}

#contact--section{
  background-color: var(--dark-red);
  height: 90%;
  color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 10px 32px 0px 32px;
  }

.form--container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
}

.form--container form{
  width: 45%;
}

#contact--section input{
  width: 300px;
  height: 32px;
  display: flex;
  align-self: center;
  margin: 5px;
  background-color: var(--light-gray);
  border: none;
}

#contact--section label {
  margin-left: 5px;
  
}

#contact--section fieldset{
  display: flex;
  flex-direction: column;
}

#contact--section textarea{
  display: flex;
  align-self: center;
  height: 80px;
  width: 300px;
  margin: 5px;
  background-color: var(--light-gray);

}

#contact--section button{
  display: flex;
  align-self: center;
  margin:10px auto 0 auto;
  width: 200px;
  background-color: var(--dark-blue);
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

footer{
  background-color: #130754;
  color: var(--white);
  display: flex;
}

footer a{
  color: var(--light-gray);
  text-decoration: none;
  margin: 0 auto;
}

.secondary-btn{
  width: 80px;
  padding: 6px 17px;

  border-radius: 12px;
  border: 1px solid var(--primary-red, #DB3323);
  
  background: var(--primary-red, #DB3323);
  color: var(--white);

  display: flex;
  font-family: Nunito;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: none;
}



/* Estilos del Login */
.login--section{
display: flex;
align-items: center;
justify-content: center;
background-color: var(--dark-red);
width: 100%;
height: 85vh;

}

.card-login--section{
width: 80%;
height: 55vh;
border-radius: 20px;
background-color: var(--light-gray);
display: flex;
flex-direction: column;
align-self: center;
font-size: 20px;
}

.card-login--section input{
margin: 10px 0px 10px 0px;  
height: 30px;
}

.card-login--section h1{
align-self: center;
color: var(--dark-blue);
margin-top: 10px;
}

.card-login--section form {
display: flex;
flex-direction: column;
padding: 20px;
}

.card-login--section button{
align-items: self;
border: none;
justify-content: center;
display: flex;
align-self: center;
}


@media (max-width:768px){

#contact--section{
height: 90%;
}

.contact--section--img{
display: none;
margin: 0px;
padding: 0px;
}

.form--container{
display: flex;
flex-direction: column;
justify-content: flex-start ;
}

.form--container fieldset{
width: 80vw;
border: none;
}

#contact--section input, #contact--section textarea{
display: flex;
align-self: flex-start;
width: 80vw;
}


.form--container form{
width: 94%;
}

#skillset--section--icons-container{
display: grid;
grid-template-columns: 90px 90px 90px ;
grid-template-rows: 120px 120px 120px 120px 120px 120px;
justify-content: center;
justify-items: center;
align-items: center;
}

#skillset--section{
height: 80%;;
}

#experience--section{
padding: 10px 32px 0px 32px;
height: 60%;
padding-bottom: 20px;

}

.hero--section{
width: 100%;
}

.hero-text--section{
width: 90vw;
}

.hero-section--title{
font-size: 15vw;
height: 40%;
width: 90vw;
}

.hero--section-subtitle{
width: 90vw;
}

.hero--section-text{
width: 90vw;
margin: 10px 0px 0px 32px;

}

#About-me--section{
height: 60%;
padding-bottom: 20px;
}

#projects--section{
height: 80%;
padding-bottom: 20px;
}

}

@media (max-width:375px){
.hero--section{
  width: 100%;
  height: 150px;
}
.hero-text--section{
  width: 90vw;
}

.hero-section--title{
  font-size: 15vw;
  height: 80.5px;
  width: 90vw;
}

.hero--section-subtitle{
  width: 90vw;
  height: 5%;
}

.hero--section-text{
  width: 90vw;
  margin: 15px 0px 0px 32px;
  height: 20px;
}

}