*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --dark-red: #DB3323;
    --dark-blue: #253969;
    --light-gray: #D9D9D9;
    --white:#FFF;
    font-family: 'Nunito', sans-serif;

}

#hero--section{
    background-color: var(--dark-blue);
    height: 420px;
    width: 100%;
    position:relative;
}

#hero-section--title{
    width: 192px;
    height: 139px;
    margin: 0px 0px 0px 32px;
    padding-top: 32px ;
    font-family: 'Nunito', sans-serif;
    color: var(--white);
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#hero--section-subtitle{
    width: 240px;
    height: 130px;
    margin: 0px 0px 8px 32px;
    padding-top: 16px ;
    color: #FFF;
    font-family:'Nunito', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#hero--section-text{
    width: 200px;
    height: 30px;
    margin: 8px 0px 16px 32px;
    color: #FFF;
    font-family:'Nunito', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#hero--section-button{
    width: 156px;
    height: 32px;
    margin: 8px 0px 16px 32px;
    border-radius: 8px;
    border-style: none;
    background:var(--dark-red);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.8);

}

#hero--section-button a {
    color: var(--white);
    font-family:'Nunito', sans-serif;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;

}

#About-me--section{
    background-color: var(--dark-red);
    height: 350px;
    width: 100%
}

#About-me-section--text{
    color: var(--white);
    font-family:'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    margin: 16px 32px 0px 32px;
}

#section--title{
    width: 100%;
    padding: 8px 32px 6px 32px;
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    color: var(--white);
}

#experience--section{
    width: 100%;
    background-color: var(--dark-blue);
    height: 850px;
}

.button{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 50px;
  width: 80%;
  border-radius: 10px;
  margin: 10px 32px 0px 32px ;
  background-color: var(--dark-red);
  text-decoration: none;
  color: var(--white);
  font-weight: 700;
}

#section--subtitle{
    width: 100%;
    padding: 32px 32px 0px 32px;
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    color: var(--white);
}

#experience-section--job-role{
    width: 100%;
    padding: 8px 32px 0px 32px;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    color: var(--white); 
}

.wave-blue-container {  
    height: 40vh;
    background-color: #253969;
    position: relative;
  }
  
  .wave-blue-container::before {   
    content: "";
    width: 100%;
    height: 168px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 64vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  80' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 59L50 55C100 51 200 44 300 30C400 15 500 -6 600 1C700 8 800 44 900 59C1000 73 1100 66 1150 62L1200 59V80H1150C1100 80 1000 80 900 80C800 80 700 80 600 80C500 80 400 80 300 80C200 80 100 80 50 80H0V59Z' fill='%23db3323'/></svg>");
  }
  
  @media(max-width:850px) {
    .wave-blue-container::before {    
      height: 84px
    }  
  }

  .wave-red-container {  
    height: 40vh;
    background-color: #db3323;
    position: relative;
  }
  
  .wave-red-container::before {   
    content: "";
    width: 100%;
    height: 168px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 64vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  80' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 59L50 55C100 51 200 44 300 30C400 15 500 -6 600 1C700 8 800 44 900 59C1000 73 1100 66 1150 62L1200 59V80H1150C1100 80 1000 80 900 80C800 80 700 80 600 80C500 80 400 80 300 80C200 80 100 80 50 80H0V59Z' fill='%23253969'/></svg>");
  }
  
  #skillset--section{
    width: 100%;
    height: 680px;
    background-color: var(--dark-red);
  }
  @media(max-width:850px) {
    .wave-red-container::before {    
      height: 84px
    }  
  }

  #skillset--section--icons-container{
    display: grid;
    grid-template-columns: 90px 90px 90px;
    grid-template-rows: 120px 120px 120px 120px 120px;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }

  .skill-section-icons-text{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: var(--white);
  }

  .projects--section{
    background-color: var(--dark-blue);
    color: var(--white);
    height: 2000px;
    display: flex;
    flex-direction: column;
  }

  .projects--section-card{
    background-color: var(--light-gray);
    border-radius: 46px ;
    width: 328px;
    height: 580px;
    align-self: center;
    margin-top: 20px;
    color: black;
  }

  .projects--section-card img{
    border-radius: 40px 40px 0px 0px;

  }
  

  h4{
    display: flex;
    font-size: 28px;
    justify-content: center;
  }

  .text--card{
    display: flex;
    justify-content: center;
    padding: 0px 20px 0px 20px;
    margin-top: 5px;
    font-size: 18px;
  }

  .tags--card{
    display: flex;
    flex-direction: row;
  }

  #Python--ID{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 38px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
    margin: 10px 0px 5px 20px;
    background-color: #4B8BBE;
    color: var(--white);
    font-size: 18px;
  }

  #Pandas--ID{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 38px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
    margin: 10px 0px 5px 5px;
    background-color: #130754;
    color: var(--white);
    font-size: 18px;
  }

  #POO--ID{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 38px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
    margin: 10px 0px 5px 5px;
    background-color: #646464;
    color: var(--white);
    font-size: 18px;
  }

  #HTML--ID{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 38px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
    margin: 10px 0px 5px 20px;
    background-color: #F06529;
    color: var(--white);
    font-size: 18px;
  }

  #CSS--ID{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 38px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
    margin: 10px 0px 5px 5px;
    background-color: #2965F1;
    color: var(--white);
    font-size: 18px;
  }

  .contact--section{
    background-color: var(--dark-red);
    height: 640px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 10px 20px 0px 20px;
  }

  .contact--section input{
    width: 300px;
    height: 32px;
    display: flex;
    align-self: center;
    margin: 5px;
    background-color: var(--light-gray);
    border: none;
  }
  
  .contact--section label {
    margin-left: 5px;
  }

  .contact--section fieldset{
    display: flex;
    flex-direction: column;
  }

  .contact--section textarea{
    display: flex;
    align-self: center;
    height: 200px;
    width: 300px;
    margin: 5px;
    background-color: var(--light-gray);

  }

  .contact--section button{
    display: flex;
    align-self: center;
    margin:10px auto 0 auto;
    width: 200px;
    background-color: var(--dark-blue);
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  footer{
    background-color: #130754;
    color: var(--white);
    display: flex;
  }

  footer a{
    color: var(--light-gray);
    text-decoration: none;
    margin: 0 auto;
  }

  #btn-whatsapp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 5px;
    background-color: #0df053;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
  }

  #btn-whatsapp:hover{
    text-decoration: none;
    color: #0df053;
    background-color: white;
  }